{
  "linters": {
    "*.{js,jsx,css}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,jsx}": [
      "eslint src --ext .js,.jsx --fix",
      "git add"
    ],
    "*.css": [
      "stylelint src/**/*.css --fix",
      "git add"
    ]
  }
}
